/**
 * Global
 */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
body {
  font-family: 'Roboto', sans-serif;
  line-height: 1;
  color: #333;
}
p {
  line-height: 1.5;
}

/**
 * Header
 */
#header {
  background: #eee;
  box-shadow: 0 0 10px #000;
}
#header a {
  font-size: 36px;
  font-weight: bold;
  color: #333;
  display: inline-block;
  padding: 10px;
}


/**
 * Home
 */
#chart {
  height: 600px;
}